{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "minify": false,
        "transpileTemplateLiterals": false
      }
    ]
  ]
}
